## Compiled JavaScript files
**/*.js
**/*.js.map
!**/jest.config.js
# Typescript v1 declaration files
typings/

node_modules/

functions/src/secrets/

**/*.DS_Store

**/rigel-admin-firebase-adminsdk-76ugg-4ed1a0dbb1.json

functions/lib/

**/secrets/

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/
*.log