name: Firebase Continuous Deployment

on:
  push:
    branches: [ master ]


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 12
      - run: npm ci
        working-directory: ./functions
      - run: npm run build
        working-directory: ./functions
      - uses: w9jds/firebase-action@master
        with:
          args: deploy --only use-cases
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
